html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 20% 30% 50px;
    height: 100vh;
}

#visuals    {grid-area: 1 / 1 / 3 / 2;}


#files      {
    grid-area: 3 / 1 / 4 / 2;
    background-color: #1b2336;
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.file {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.fileIcon {
    border: 10px #292a6d solid;
    background-color: #292a6d;
    border-radius: 100%;
    font-size: 50px;
}

#textBox    {
    grid-area: 1 / 2 / 3 / 3;
    background-color: #121212;
    color: white;
    padding: 0 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#textBox .hint {
    color: #787878;
}


#terminal   {
    grid-area: 3 / 2 / 4 / 3;
    background-color: black;
    display: grid;
    grid-template-rows: 80% 20%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
#terminalLog {
    padding-left: 1%;
    overflow-y: auto;
}
#terminalInputBox {
    /* border-top: 2px blue solid; */
    padding-left: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.TerminalDirectory {
    font-family: 'Courier New', Courier, monospace;
    height: 20px;
    max-width: 50%;
    float: right;
    white-space: nowrap;
    overflow: hidden;
    direction: rtl;
}
.TerminalDirectory::before {
    content: "<";
}
.terminalInput {
    background-color: inherit;
    flex: 1;
    color: inherit;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1em;
    font-family: inherit;
}


footer      {
    grid-area: 4 / 1 / 5 / 3;
    display: grid;
    grid-template-columns: 50% 35% 15%;
}
footer > div {
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    align-items: center;
}